@{
    ViewBag.Title = "Home Page";
}

<form id="translate">
    <input id="text" name="text" type="text" value="" />
    <button type="submit">Submit</button>
</form>
<textarea id="area"></textarea>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#translate").on("submit", function()
            {
                $.ajax({
                    url: "http://api.funtranslations.com/translate/leetspeak.json?text="+$("#text").val(),
                    method: "GET",
                    success:function(result)
                    {
                        alert(result.responseText)
                        
                    },
                    error: function (result) {
                        alert(result.responseText)
                    },

                })
            })
            })
    </script>
}